<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/quiz2" method="post">
    1. I stay calm and focused in stressful situations. <br>
    <input type="radio" name="q1" value="agree"> Agree
    <input type="radio" name="q1" value="disagree"> Disagree
    <input type="radio" name="q1" value="neutral"> Neutral
    <br>2.I am eager to know about how the human body works and why it behaves the way it does.
<br>
    <input type="radio" name="q2" value="agree"> Agree
    <input type="radio" name="q2" value="disagree"> Disagree
    <input type="radio" name="q2" value="neutral"> Neutral
    <br>3.I enjoy reading novels, history, or social science topics..<br>
    <input type="radio" name="q3" value="agree"> Agree
    <input type="radio" name="q3" value="disagree"> Disagree
    <input type="radio" name="q3" value="neutral"> Neutral
    <br>4.I am curious about human behavior and relationships.<br>
    <input type="radio" name="q4" value="agree"> Agree
    <input type="radio" name="q4" value="disagree"> Disagree
    <input type="radio" name="q4" value="neutral"> Neutral
    <br>5.I prefer logical problem-solving over creative writing or drawing<br>
    <input type="radio" name="q5" value="agree"> Agree
    <input type="radio" name="q5" value="disagree"> Disagree
    <input type="radio" name="q5" value="neutral"> Neutral
    <br>6.I like learning how websites, apps, or games are made.
<br>
    <input type="radio" name="q6" value="agree"> Agree
    <input type="radio" name="q6" value="disagree"> Disagree
    <input type="radio" name="q6" value="neutral"> Neutral
    <br>7.You like to speak up if your feel something unfair is happening around you.<br>
    <input type="radio" name="q7" value="agree"> Agree
    <input type="radio" name="q7" value="disagree"> Disagree
    <input type="radio" name="q7" value="neutral"> Neutral
    <br>8.I like persuading or negotiating with others.<br>
    <input type="radio" name="q8" value="agree"> Agree
    <input type="radio" name="q8" value="disagree"> Disagree
    <input type="radio" name="q8" value="neutral"> Neutral
    <br>9.I enjoy analyzing numbers, trends, or financial data.<br>
    <input type="radio" name="q9" value="agree"> Agree
    <input type="radio" name="q9" value="disagree"> Disagree
    <input type="radio" name="q9" value="neutral"> Neutral
    <br>10.I am curious about how stock markets, business news, or new startups work.<br>
    <input type="radio" name="q10" value="agree"> Agree
    <input type="radio" name="q10" value="disagree"> Disagree
    <input type="radio" name="q10" value="neutral"> Neutral
    <br>11.I am good at convincing or motivating others.<br>
    <input type="radio" name="q11" value="agree"> Agree
    <input type="radio" name="q11" value="disagree"> Disagree
    <input type="radio" name="q11" value="neutral"> Neutral
    <br>12.I enjoy taking charge and leading.<br>
    <input type="radio" name="q12" value="agree"> Agree
    <input type="radio" name="q12" value="disagree"> Disagree
    <input type="radio" name="q12" value="neutral"> Neutral
    <br>13.I enjoy using video recording and editing technology.<br>
    <input type="radio" name="q13" value="agree"> Agree
    <input type="radio" name="q13" value="disagree"> Disagree
    <input type="radio" name="q13" value="neutral"> Neutral
    <br>14. I enjoy helping others understand new things.<br>
    <input type="radio" name="q14" value="agree"> Agree
    <input type="radio" name="q14" value="disagree"> Disagree
    <input type="radio" name="q14" value="neutral"> Neutral
    <br>15.I enjoy helping others understand new things.<br>
    <input type="radio" name="q15" value="agree"> Agree
    <input type="radio" name="q15" value="disagree"> Disagree
    <input type="radio" name="q15" value="neutral"> Neutral
    <br>16.I enjoy giving presentations and public speaking.<br>
    <input type="radio" name="q16" value="agree"> Agree
    <input type="radio" name="q16" value="disagree"> Disagree
    <input type="radio" name="q16" value="neutral"> Neutral
    <br>17. I am curious about society, culture, and world events. <br>
    <input type="radio" name="q17" value="agree"> Agree
    <input type="radio" name="q17" value="disagree"> Disagree
    <input type="radio" name="q17" value="neutral"> Neutral
    <br>18. I like analyzing and interpreting information to make decisions.<br>
    <input type="radio" name="q18" value="agree"> Agree
    <input type="radio" name="q18" value="disagree"> Disagree
    <input type="radio" name="q18" value="neutral"> Neutral
    <br>19.I like expressing ideas creatively through writing, video, or social media.<br>
    <input type="radio" name="q19" value="agree"> Agree
    <input type="radio" name="q19" value="disagree"> Disagree
    <input type="radio" name="q19" value="neutral"> Neutral
    <br>20.I am patient and detail-oriented in my work.<br>
    <input type="radio" name="q20" value="agree"> Agree
    <input type="radio" name="q20" value="disagree"> Disagree
    <input type="radio" name="q20" value="neutral"> Neutral
    <br>21. I enjoy performing experiments in a lab or observing results.<br>
    <input type="radio" name="q21" value="agree"> Agree
    <input type="radio" name="q21" value="disagree"> Disagree
    <input type="radio" name="q21" value="neutral"> Neutral
    <br>22.I enjoy studying theory but also connecting it to real-world applications.<br>
    <input type="radio" name="q22" value="agree"> Agree
    <input type="radio" name="q22" value="disagree"> Disagree
    <input type="radio" name="q22" value="neutral"> Neutral
    <br>23.I enjoy building or fixing gadgets, machines, or electronics.<br>
    <input type="radio" name="q23" value="agree"> Agree
    <input type="radio" name="q23" value="disagree"> Disagree
    <input type="radio" name="q23" value="neutral"> Neutral
    <br>24.I enjoy drawing or planning buildings, bridges, or infrastructure projects..<br>
    <input type="radio" name="q24" value="agree"> Agree
    <input type="radio" name="q24" value="disagree"> Disagree
    <input type="radio" name="q24" value="neutral"> Neutral
    <br>25.  I like understanding how signals, networks, or communication systems work.<br>
    <input type="radio" name="q25" value="agree"> Agree
    <input type="radio" name="q25" value="disagree"> Disagree
    <input type="radio" name="q25" value="neutral"> Neutral
    <br>26.I enjoy analyzing data, algorithms, and system designs.<br>
    <input type="radio" name="q26" value="agree"> Agree
    <input type="radio" name="q26" value="disagree"> Disagree
    <input type="radio" name="q26" value="neutral"> Neutral
    <br>27. I prefer logical problem-solving over physical/mechanical work. <br>
    <input type="radio" name="q27" value="agree"> Agree
    <input type="radio" name="q27" value="disagree"> Disagree
    <input type="radio" name="q27" value="neutral"> Neutral
    <br>28. I enjoy understanding how things move, function, or are constructed.<br>
    <input type="radio" name="q28" value="agree"> Agree
    <input type="radio" name="q28" value="disagree"> Disagree
    <input type="radio" name="q28" value="neutral"> Neutral
    <br>29. I complete my tasks on time without being reminded.<br>
    <input type="radio" name="q29" value="agree"> Agree
    <input type="radio" name="q29" value="disagree"> Disagree
    <input type="radio" name="q29" value="neutral"> Neutral
    <br>30.I feel motivated when my actions make others happy or comfortable. <br>
    <input type="radio" name="q30" value="agree"> Agree
    <input type="radio" name="q30" value="disagree"> Disagree
    <input type="radio" name="q30" value="neutral"> Neutral


    <button>Submit</button>
    </form>
</body>
</html>