<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/quiz" method="post">
    1. I prefer logical reasoning over creative writing or drawing. <br>
    <input type="radio" name="q1" value="agree"> Agree
    <input type="radio" name="q1" value="disagree"> Disagree
    <input type="radio" name="q1" value="neutral"> Neutral
    <br>2. I prefer travelling to historical places more than modern attractions.<br>
    <input type="radio" name="q2" value="agree"> Agree
    <input type="radio" name="q2" value="disagree"> Disagree
    <input type="radio" name="q2" value="neutral"> Neutral
    <br>3. You are more on your laptop than your mobile phone.<br>
    <input type="radio" name="q3" value="agree"> Agree
    <input type="radio" name="q3" value="disagree"> Disagree
    <input type="radio" name="q3" value="neutral"> Neutral
    <br>4. Do you enjoy taking charge and leading?<br>
    <input type="radio" name="q4" value="agree"> Agree
    <input type="radio" name="q4" value="disagree"> Disagree
    <input type="radio" name="q4" value="neutral"> Neutral
    <br>5. Do you enjoy planning, budgeting, and keeping records?<br>
    <input type="radio" name="q5" value="agree"> Agree
    <input type="radio" name="q5" value="disagree"> Disagree
    <input type="radio" name="q5" value="neutral"> Neutral
    <br>6. Do you prefer learning skills that you can directly use in real life?<br>
    <input type="radio" name="q6" value="agree"> Agree
    <input type="radio" name="q6" value="disagree"> Disagree
    <input type="radio" name="q6" value="neutral"> Neutral
    <br>7. Do you enjoy doing experiments to find the best possible ways to do something?<br>
    <input type="radio" name="q7" value="agree"> Agree
    <input type="radio" name="q7" value="disagree"> Disagree
    <input type="radio" name="q7" value="neutral"> Neutral
    <br>8. Do you enjoy solving technical problems?<br>
    <input type="radio" name="q8" value="agree"> Agree
    <input type="radio" name="q8" value="disagree"> Disagree
    <input type="radio" name="q8" value="neutral"> Neutral
    <br>9. You like to speak up if your feel something unfair is happening around you.<br>
    <input type="radio" name="q9" value="agree"> Agree
    <input type="radio" name="q9" value="disagree"> Disagree
    <input type="radio" name="q9" value="neutral"> Neutral
    <br>10. I would like to create websites, apps, or digital designs.<br>
    <input type="radio" name="q10" value="agree"> Agree
    <input type="radio" name="q10" value="disagree"> Disagree
    <input type="radio" name="q10" value="neutral"> Neutral
    <br>11. I am curious about how stock markets, business news, or new startups work.<br>
    <input type="radio" name="q11" value="agree"> Agree
    <input type="radio" name="q11" value="disagree"> Disagree
    <input type="radio" name="q11" value="neutral"> Neutral
    <br>12. I enjoy keeping records, lists, or tracking small expenses.<br>
    <input type="radio" name="q12" value="agree"> Agree
    <input type="radio" name="q12" value="disagree"> Disagree
    <input type="radio" name="q12" value="neutral"> Neutral
    <br>13. I prefer learning by doing practical activities rather than just reading books<br>
    <input type="radio" name="q13" value="agree"> Agree
    <input type="radio" name="q13" value="disagree"> Disagree
    <input type="radio" name="q13" value="neutral"> Neutral
    <br>14. I like asking “why things happen” and finding reasons behind events.<br>
    <input type="radio" name="q14" value="agree"> Agree
    <input type="radio" name="q14" value="disagree"> Disagree
    <input type="radio" name="q14" value="neutral"> Neutral
    <br>15. I like influencing decisions when working in a team.<br>
    <input type="radio" name="q15" value="agree"> Agree
    <input type="radio" name="q15" value="disagree"> Disagree
    <input type="radio" name="q15" value="neutral"> Neutral
    <br>16. I am eager to know about how the human body works and why it behaves the way it does.<br>
    <input type="radio" name="q16" value="agree"> Agree
    <input type="radio" name="q16" value="disagree"> Disagree
    <input type="radio" name="q16" value="neutral"> Neutral
    <br>17. I often try to understand how others are feeling.<br>
    <input type="radio" name="q17" value="agree"> Agree
    <input type="radio" name="q17" value="disagree"> Disagree
    <input type="radio" name="q17" value="neutral"> Neutral
    <br>18. I can easily blend in with a new group of people.<br>
    <input type="radio" name="q18" value="agree"> Agree
    <input type="radio" name="q18" value="disagree"> Disagree
    <input type="radio" name="q18" value="neutral"> Neutral
    <br>19. I complete my tasks on time without being reminded.<br>
    <input type="radio" name="q19" value="agree"> Agree
    <input type="radio" name="q19" value="disagree"> Disagree
    <input type="radio" name="q19" value="neutral"> Neutral
    <br>20. I feel motivated when my actions make others happy or comfortable.<br>
    <input type="radio" name="q20" value="agree"> Agree
    <input type="radio" name="q20" value="disagree"> Disagree
    <input type="radio" name="q20" value="neutral"> Neutral

    <button>Submit</button>
    </form>
</body>
</html>